﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Janaína Iacia Silva - Conigital Test</h1>
</div>

@Html.BeginForm("Send", "Home"){ 
    <div class="row">
        @Html.TextBox("txtNumer");
    </div>
}